{% extends 'website/base.html' %}

{% load static %}
{% load website_extras %}

{% block styles %}
<link rel="stylesheet" href="{% static 'website/styles/writing.css' %}">
{% endblock %}

{% block content %}
<div id='wrapper'>
    <div id='credits-wrapper' class='mb-5'>
        <h1>stuff i just wrote</h1>
        <p>{{ data.credits|markdown_to_html }}</p>
    </div>
    <div id='links-wrapper'>
        <h3>links to stuff</h3>
        <ul id='links' class='m-3'>
            {% for link in links %}
                <li class='link'>
                    <p class='link-title mb-1'>{{ link.title }}</p>
                    <a class='link-link ml-3' href='{{ link.link }}'>{{ link.link }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
