#wrapper {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#cracker-box {
    width: 200px;
    height: 200px;
}

.cracker {
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
}

.hidden {
    display: none;
}
